.not_found {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    color: #878787;
    margin-top: 20px;
}

.city {
    font-size: 30px;
    color: red;
    margin: 0 7px;
}



