.error_indicator {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 20px;
}

.boom {
    font-size: 26px;
    color: red;
    margin-bottom: 20px;
}

.error_text {
    font-size: 16px;
    font-weight: bold;
}

